[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
coverage = "*"
autopep8 = "*"
rope = "*"
pylint = "*"

[packages]
flask = "*"
alembic = "*"
flask-sqlalchemy = "*"
psycopg2-binary = "*"
flask-bcrypt = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-cors = "*"

[requires]
python_version = "3.7"
