@import url("https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap");

:root {
  --content-background-color: #edecec;
  --content-text-color: #767676;
  --button-color: #2196f3;
  --button-color-hover: #087dda;
  --button-color-active: #0063c0;
  --menu-background-color: #191c22;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--content-background-color);
  color: var(--content-text-color);
}
